 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /*general*/
:root {
    --blue: #4690FF;
    --white: #FFFFFF;
    --black: #000000;
    --hover-grey: #767676;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.max-width {
    width: 100%;
    max-width: 1200px;
    padding: 30px 60px;
}

button {
    border: none;
    text-decoration: none;
    background: none;
    cursor: pointer;
}
 
 /*nav*/

 nav {
    display: flex;
 }

 .nav-logo {
    margin-right: auto;
 }

 .nav-categories {
    list-style: none;
    display: flex;
    gap: 80px;
 }

 .nav-item:hover {
    opacity: 70%;
    transition: 0.2s;
 }

 .nav-selected {
    color: var(--blue);
 }


 /*palette*/
 .colour-box {
    width: 100px;
    height: 100px;
 }

 /*colour picker*/

.modal-bg-size {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .modal-bg {
    background: #f74c4c19;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
 }
